
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to the ADCManager</h1>
        <p>With more classified pages than any other medical publication, Australian Doctor classifieds is a must for advertising your course or conference, position(s) available across the nation and anything else worth buying or selling! The ADC Manager will assist you with coordinating your campaign.</p>
        <p><%= link_to "Create an account", "#", :class => "btn btn-primary btn-lg" %></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Bookings</h2>
          <p>Create, edit or view all details of a particular campagin. </p>
          <p><%= link_to "More", "#", :class => "btn btn-default" %></p>
        </div>
        <div class="col-md-4">
          <h2>Clients</h2>
          <p>Search for clients currently listed in the database.</p>
          <p><%= link_to "More", clients_path, :class => "btn btn-default" %></p>
       </div>
        <div class="col-md-4">
          <h2>Issues</h2>
          <p>Inspect issue plans for current and previous editions.</p>
          <p><%= link_to "More", "#", :class => "btn btn-default" %></p>
        </div>
      </div>
     <div class="row">
        <div class="col-md-4">
          <h2>Tearsheets</h2>
          <p>Download pages and email direct to client. </p>
          <p><%= link_to "More", "#", :class => "btn btn-default" %></p>
        </div>
        <div class="col-md-4">
          <h2>Quotes</h2>
          <p>Manage estimates for current and potential clients. </p>
          <p><%= link_to "More", "#", :class => "btn btn-default" %></p>
       </div>
        <div class="col-md-4">
          <h2>Creative</h2>
          <p>Coordinate Material instructions for advertising.</p>
          <p><%= link_to "More", "#", :class => "btn btn-default" %></p>
        </div>
      </div>
      <hr>

      <footer>
        <p>&copy; Cirrus Media 2013</p>
      </footer>
    </div> <!-- /container -->




<!--     <%= image_tag "ausdoc_logo.png" %>
 -->





